In [1]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh",'k2':"ineuron",'k3':"kumar",2:6,7:8},["ineuron","data science"]]

In [2]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 2: 6, 7: 8},
 ['ineuron', 'data science']]

In [ ]:
q3.Try to extract all the list entity

In [3]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [ ]:
q4.Try to extract all the dict entity

In [4]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 2: 6, 7: 8}

In [ ]:
q5.Try to extract all the tuple entity

In [5]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [ ]:
q6.try to extract all the numerical data, it may part of dict key and values

In [11]:
l1=[]
l2=[]
for b in l:
    if type(b)==list or type(b)==tuple or type(b)==set:
        for j in b:
            if type(j)==int:
                print(j)
                l1.append(j)
                
    if type(b)==dict:
        for k,m in b.items():
            if type(k)==int and type(m)==int:
                print(k)
                print(m)
                l2.append(k)
                l2.append(m)
l3=l1+l2
print(l3)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
2
6
7
8
[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 2, 6, 7, 8]

In [ ]:
q7.Tryto give summation of all numeric data

In [19]:
l1=[]
l2=[]
for b in l:
    if type(b)==list or type(b)==tuple or type(b)==set:
        for j in b:
            if type(j)==int:
                l1.append(j)
                
    if type(b)==dict:
        for k,m in b.items():
            if type(k)==int and type(m)==int:
                l2.append(k)
                l2.append(m)
l3=l1+l2
print(l3) 
print(sum(l3))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 2, 6, 7, 8]
155

In [ ]:
q8. Try to filter out all the odd values out of all the numeric dats which is part of the list

In [21]:
l1=[]
l2=[]
for b in l:
    if type(b)==list or type(b)==tuple or type(b)==set:
        for j in b:
            if type(j)==int:
                l1.append(j)
                
    if type(b)==dict:
        for k,m in b.items():
            if type(k)==int and type(m)==int:
                l2.append(k)
                l2.append(m)
l3=l1+l2
print(l3)
for x in l3:
    if x%2!=0:
        print(x)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 2, 6, 7, 8]
1
3
3
5
3
5
7
45
5
23
7

In [ ]:
q9.Try to extract "ineuron" out of this data

In [32]:
for i in l:
    if type(i)==dict:
        for j in i:
            if(i[j])=="ineuron":
                print(i[j])

ineuron

In [ ]:
q10.Try to find out the number of occurences of all the data

In [81]:
a1=[]
a2=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
         for j in i:
                (a1.append(j))
    if type(i)==dict:
        for m,n in i.items():
            a2.append(m)
            a2.append(n)
    
a3=a1+a2
print(a3)
set(a3)
for k in set(a3):
    print(k,":",a3.count(k))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'ineuron', 'data science', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 2, 6, 7, 8]
1 : 1
2 : 3
3 : 3
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
sudh : 1
kumar : 1
8 : 1
ineuron : 2
45 : 1
k3 : 1
23 : 1
k2 : 1
data science : 1

In [ ]:
q11.Try to find out number of keys in dict element

In [46]:
for i in l:
    if type(i)==dict:
        print(len(i))

5

In [ ]:
q12.Try to filter out all the string data

In [57]:
for i in l:
    for j in i:
        if type(j)==str or type(i.it)==str:
                                 print(j)
                                 print(i[j])

IndexError: list index out of range

In [ ]:
q13.Try to find alphanum in data

In [63]:
for i in l:
    for j in i:
        if j==isalnum():
            print(j)

NameError: name 'isalnum' is not defined

In [ ]:
q14.Try to find out multiplicaton of all the numeric vlue in th individual collection inside dataset

In [75]:
 product=1
for i in l:
    for j in i:
        if type(j)==int:
            new=product*j
a2=[]
print(a2.append(new))

None

In [ ]:
q15.Try to unwrap all the collection inside te collection to create a flat list

In [82]:
a1=[]
a2=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
         for j in i:
                (a1.append(j))
    if type(i)==dict:
        for m,n in i.items():
            a2.append(m)
            a2.append(n)
    
a3=a1+a2
print(a3)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'ineuron', 'data science', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 2, 6, 7, 8]